---
import Layout from "@layouts/Layout.astro";
import CoffeeMenus from "@data/CoffeMenus.json";
import CoffeeProduct from "@components/CoffeProduct.astro";
import CoffeeSection from "@components/CoffeeSection.astro";
---

<Layout title="Primero cafe">
    <div class="flex flex-col gap-6">
        {
            CoffeeMenus.map(({ title, subtitle, products }) => (
                <CoffeeSection title={title} subtitle={subtitle}>
                    {products.map((product) => (
                        <CoffeeProduct {...product} />
                    ))}
                </CoffeeSection>
            ))
        }
    </div>
</Layout>
