---
import Layout from "../layouts/Layout.astro";
import sections from "../data/products.json";
import Product from "../components/Product.astro";
import Section from "../components/Section.astro";
---

<Layout title="Primero cafe">
    <div class="flex flex-col gap-6">
        {
            sections.map(({ title, subtitle, products }) => (
                <Section title={title} subtitle={subtitle}>
                    {products.map((product) => (
                        <Product {...product} />
                    ))}
                </Section>
            ))
        }
    </div>
</Layout>
