---
const { name, price, key } = Astro.props
---

<product-coffe key={`product-${key}`}>
	<article class="flex w-full items-center justify-between gap-6 px-2 py-2">
		<h3 class="font-medium">{name}</h3>
		<p class="price rn-highlight min-w-fit text-white">
			{price} €
		</p>
	</article>
</product-coffe>

<script>
	import { annotateElement } from '@lib/RoughNotation.mts'

	class ProductCoffe extends HTMLElement {
		constructor() {
			super()

			const $price: HTMLElement = this.querySelector('.price')
			annotateElement($price, {
				type: 'highlight',
				color: '#000',
				padding: [8, 12],
				strokeWidth: 2,
				iterations: 6
			})
		}
	}

	customElements.define('product-coffe', ProductCoffe)
</script>
