---
const { menuElements } = Astro.props;
---

<nav class="py-8 flex flex-col justify-center items-center gap-9">
    <a href="/">
        <h1 class="font-bold text-6xl">
            Primero <span class="rn-circle">Cafe</span>
        </h1>
    </a>
    <div class="mx-auto flex justify-center gap-6">
        {
            menuElements.map((element) => (
                <a href={`/menu/${element.toLowerCase()}`}>{element}</a>
            ))
        }
    </div>
</nav>
