---
const { menuElements } = Astro.props;
---

<nav class="py-8 flex flex-col justify-center items-center gap-9">
    <a href="/primero-cafe">
        <h1 class="font-bold text-6xl">
            Primero <span id="title-circle">Cafe</span>
        </h1>
    </a>
    <div class="mx-auto flex justify-center gap-6">
        {
            menuElements.map((element: String) => (
                <a href={`/primero-cafe/menu/${element.toLowerCase()}`}>
                    {element}
                </a>
            ))
        }
    </div>
</nav>

<script>
    import { annotateElement } from "@lib/RoughNotation.mts";
    import { Config } from "@lib/Config.mts";
    const urlMenuSelected = document.location.pathname
        .split("/")
        .at(-1)
        .toLocaleLowerCase();
    if (urlMenuSelected && urlMenuSelected !== Config.BASE_URL) {
        annotateElement(`header nav a[href$="${urlMenuSelected}"]`, {
            type: "underline",
            color: "#FFD54F",
            padding: [4, 12],
            strokeWidth: 2,
            iterations: 6,
        });
    }

    annotateElement("#title-circle", {
        type: "circle",
        color: "#FFD54F",
        padding: [4, 12],
        strokeWidth: 2,
        iterations: 6,
    });
</script>
