---
import NavBar from "@components/NavBar.astro";
import Menus from "@data/CoffeMenus.json";

interface Props {
    title: string;
}
const menuElements = Menus.sort(({ id: id0 }, { id: id1 }) => id0 - id1).map(
    ({ title }) => title
);
const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content="Astro description" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <title>{title}</title>
    </head>
    <body class="mx-auto bg-[#FFFDFA]">
        <header class="mx-auto mb-4">
            <NavBar {menuElements} />
        </header>
        <main class="mx-auto w-11/12">
            <slot />
        </main>
        <footer>
            <div class="mt-8 pb-4 flex justify-center items-center gap-4">
                BUEN DIA! 🤎
            </div>
        </footer>
    </body>
</html>
